<body class="INDEX">

<main>

<section>
        <div>
            <h2>¡Aqui estan sus datos Familiares!</h2>
        </div>
        <div>
            <p>

            </p>
        </div>
</section>
<form action='@Url.Action("Index", "Home")' method="post">
    <input type="submit" value="Volver" />
</form>
</main>

</body>
