<body class="INDEX">

<main>

<section>
        <div>
            <h2>¡Toque el botón para ir a loguearse!</h2>
        </div>
</section>
<form action='@Url.Action("logueo", "Home")' method="post">
    <input type="submit" value="LOGUEO" />
</form>
</main>

</body>
