<body class="INDEX">

<main>

<section class="MensajeAyudante">
        <div>
            <h2>toque el botón para ir a loguearse!</h2>
        </div>
</section>

<form action='@Url.Action("logueo", "Home")' method="post">
    <input type="submit" value="¡EMPEZAR!" />
</form>
</main>

</body>
