<body class="INDEX">

<main>

<section class="MensajeAyudante">
        <div>
            <h2>toque el bot칩n para ir a loguearse!</h2>
        </div>
</section>

<form action='@Url.Action("logIn", "Home")' method="post">
    <input type="email" name = "mail" placeholder="ingrese su mail"/>
    <input type="contrase침a" name ="contrase침a!" placeholder="ingrese su contrase침a"/>
    <input type="submit" name="mandar" placeholder="Enviar">
</form>
</main>

</body>
