<body class="INDEX">

<main>

<section>
        <div>
            <h2>¡Esta es su home!</h2>
            <p>¡Toque cualquier boton para buscar!</p>
        </div>

<form action='@Url.Action("logIn", "Home")' method="post">
    <input type="email" name = "mail" placeholder="ingrese su mail"/>
    <input type="contraseña" name ="contraseña" placeholder="ingrese su contraseña"/>
    <input type="submit" name="mandar" placeholder="Enviar">
</form>
</section>
</main>

</body>
