<body>
<main>
<section>
    <div>
        <h2>¡El logueo ha fallado!</h2>
        <p>Por favor, verifique sus credenciales e intente nuevamente.</p>
    </div>
</section>
<form action='@Url.Action("logOut", "Home")' method="post">
    <input type="submit" value="Reinciar" />
</form>
</main>
</body>
