<body class="INDEX">

<main>

<section>
        <div>
            <h2>¡Toque el botón para ir a loguearse!</h2>
        </div>
</section>

<form action='@Url.Action("logIn", "Home")' method="post">
    <input type="email" name = "mail" placeholder="ingrese su mail"/>
    <input type="contraseña" name ="contraseña!" placeholder="ingrese su contraseña"/>
    <input type="submit" name="mandar" placeholder="Enviar">
</form>
</main>

</body>
